
/*****************************************
                Nav-bar et header
 *****************************************/
 * {box-sizing: border-box;}

 body { 
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 .header {
   overflow: hidden;
   background-color: #000000;
   padding: 20px 10px;
   border-bottom: 5px solid red;
 }
 
 .header a {
   float: left;
   color: rgb(255, 255, 255);
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px; 
   line-height: 25px;
   border-radius: 4px;
 }
 
 .header a.logo {
   color:white;  
   font-size: 25px;
   font-weight: bold;
 }
 
 .header a:hover {
   background-color: dodgerblue;
   color: rgb(255, 242, 242);
 }
 
 .header a.active {
   background-color: dodgerblue;
   color: white;
 }
 
 .header-right {
   float: right;
 }
 
 @media screen and (max-width: 500px) {
   .header a {
     float: none;
     display: block;
     text-align: left;
   }
   
   .header-right {
     float: none;
   }
}

 #imageaccueil {
  height:100px;
  position:relative; }
  
  #image1 {
  background:url(images/...) no-repeat;
  width:25px;
  position:absolute;
  left:0;
  top:0;
 }
  
  
  #image2 {
    background:url(images/...) repeat-x;
    display:block;
    margin:0;
   }
 
 #image3 {
      background:url(images/...) repeat-x;
      display:block;
      margin:0;
     }
  
  #image4 {
  background:url(images/...) no-repeat;
  width:25px;
  position:absolute;
  right:0;
  top:0;
 }
/***************************************************************
                      footer                                    
***************************************************************/ 

footer {
  
   border-top: 5px solid red;
   text-align:center;
   position: fixed;
   bottom:0;
   width:100%;
   
   vertical-align:center;
   font-size:13px;
}

#sponsor .a{
  display:left;
   
        
}


