section {

	display: flex;
	justify-content: center;
	background-color: #e3e9e9;
	justify-content: space-between;

}

.column {
	height: 100%;
	width: 100%;
	background-color: #e3e9e9;

}

.spac1 {
	height: 50px;
	width: 100%;
}
